ion-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .button-container {
    padding: 16px;
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .image-container {
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

  .image-container img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}